<ion-header [translucent]="true">
  <ion-toolbar color="p">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="text-align: center;"><h3><b style="background-color: pink;"> About</b></h3></ion-title>
  <p style="text-indent: 5%;"align="center">ชอบสีฟ้า ขาว ดำ</p>
  <p style="text-indent: 5%;"align="center">สิ่งที่ชอบ:ของกิน สัตว์ การ์ตูน </p>
  <p style="text-indent: 5%;"align="center">สิ่งที่ไม่ชอบ:คนกวนทำงาน คนส่งเสียงดัง</p>
  <p style="text-indent: 5%;"align="center">/ᐠ｡ꞈ｡ᐟ\</p>
</ion-content>
